# See http://help.github.com/ignore-files/ for more about ignoring files.
# vim
*.swp
*.swo
.DS_Store

# compiled output
/dist
/tmp


# dependencies
/node_modules
/vendor/ember-cli-shims
/vendor/ember-cli-test-loader
/vendor/ember-data
/vendor/ember-load-initializers
/vendor/ember-qunit-notifications
/vendor/ember-qunit
/vendor/ember-resolver
/vendor/ember
/vendor/handlebars
/vendor/jquery
/vendor/loader
/vendor/qunit-notifications
/vendor/qunit
/vendor/sinon
!vendor/ember-oauth2

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
